<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Bilan global de l’année </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Juillet - Septembre</p>
              <div class="h5">Période de formation</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
            
               <ul>
                <br>
                <li> Formation sur l'architecture Technique SAP </li>
                    <li>Formation Gestion des Utilisateurs</li>
                 <li> Formation Gestion des Rôles</li>
                 <li>Formation TMS et RFC</li>
                 <li>Formation gestion des Imprimantes + Session des Jobs</li>
                 <li>Formation Gestion de SAP FIORI</li>
                 <li>Formation administration HANA</li>
                 <li>Formation sur l'architecture des clients TN judy et ASSAD</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Octobre - Décembre</p>
              <div class="h5">TMA TN /Wysys interne /Wynsys Academy</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <ul>
                <br>
                <li>Transport des OTs
                  
                    </li>
                                  <li>
                                    Gestion des autorisations</li> 
                                    <li>System rename </li>
                                   <li> Activation Fiori </li>
                                   <li> Création, Gestion des jobs
                                  </li>
                                  <li>Installation et test de fonctionnalité de SAPGUI 8.0 PL04 </li>
                                  <li>Démarrage des système SAP interne </li>
                                  <li> Troubleshooting et monitoring
                                  </li>
                                                <li>
                                                  Création des rôles 
                                                  
                                                </li>
                                                <li> Création des utilisateurs</li>
                                                <li>Gestion et troubleshooting des audit log </li>
                                                <li>configuration solman Interne </li>
                                                <li>Installation et resolution des problème de diagnostic agent (probleme de certificat , probleme de connexion avec solman,probleme de compatibilité ...) </li>
                                                 <li>Update SAP router certificate </li>
                                                 <li>Realisation de stratégie de changement de méthode de password </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Janvier - Mars</p>
              <div class="h5">TMA TN /Wysys interne /Wynsys Academy</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
             <br>
             <br>
             
               <ul>
                <li>	Installation et configuration wily interscope
                </li>
               
                <li>Transport des OTs
                  
                </li>
                              <li>
                                Création rôle fiori  
                                
                              </li>
                              <li> Résolution de probleme audit log</li>
                              <li>Configuration solman client </li>
                              <li>Installation et config de Wily introscope avec MI1 et WM1 </li>
                              <li>Config LMDB et SLD  </li>
                               <li>Configuration, update de CR et Cim content </li>
                               <li>Connecter Wily avec Solman et MI1 </li>
                               <li> Installation DAAs interne et pour WM1 et MI1</li>
                               <li>Gestion et resolution des problemes des jobs solman</li>
                               <li>Installation HANA client</li>
                               <li>Ajout l’espace de sybase pour résoudre le probleme de table snap </li>
                               <li>Config et preparation template metric de monitoring de systeme solman</li>
                               <li>Configuration Manuel de LMDB,SLD</li>
                               <li>Installation Système S4 interne</li>


                            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Avril - Juin</p>
              <div class="h5">TMA TN /Wysys interne</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <ul>
                <br>
                <li>Upgrade S/4 HANA pour les systemes interne et client
                  
                    </li>
                                  <li>
                                      Implémentation des notes SI check </li> 
                                    <li>Update SPAM version </li>
                                   <li> Upload des package TCI </li>
                                   <li> Création, Gestion des jobs
                                  </li>
                                  <li>Système refrech  </li>
                                  <li>Correction de timing dans le système OS </li>
                                  <li>Mount subvoulume via Vmware </li>
                                  <li>Configuration  des paramètres pour le délai d'expiration de la session fiori et pour gérer l'affichage d'une fenêtre pop-up informant l'utilisateur de la déconnexion automatique.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
