<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jfif');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/img2.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Nasraoui Islem</h1>
          <p class="category text-white">Consultante Basis</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="https://docs.google.com/spreadsheets/d/1C2fCPIqe8UlKI0VPxSzVwupQz4UclobzGhlKkwFjlrk/edit?usp=sharing" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Task</a>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"> Compte rendu</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            
           
            <a class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/islem-nasraoui-41ab06216/" target="_blank" rel="tooltip"
              title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Islem54151" target="_blank"
              rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>
            
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.googlecloudcommunity.com/gc/user/viewprofilepage/user-id/535930" target="_blank" rel="tooltip"
              title="Follow me on Google+">
              <i class="fa fa-google-plus"></i>
            </a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
